In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [3]:
dengue_data = pd.read_csv("F:/Pandemic-Database/Raw_Data/Dengue_Fever/clean_dengue_data.csv")

dengue_data = dengue_data.rename(columns={'Virus Family': 'Microbe Family',
                                         'Virus Genus': 'Microbe Genus',
                                         'Virus Species': 'Microbe Species',
                                         'Sub-region': 'Domain',
                                         'Date':'date',
                                         'Type':'type',
                                         'Case Number': 'number'})

dengue_data.insert(4,'Country','None')
dengue_data.insert(6,'Sub-Domain', np.nan)


dengue_data['Region'] = 'AMRO'
dengue_data['Country'] = np.where(dengue_data['Domain']=='San Juan', 'Puerto Rico', 'Peru')
dengue_data['type'] = 'Cases'
dengue_data = dengue_data.drop(columns='Comments')

dengue_data

,Microbe Family,Microbe Genus,Microbe Species,Region,Country,Domain,Sub-Domain,date,type,number
0,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,1990-05-06,Cases,4
1,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,1990-05-13,Cases,5
2,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,1990-05-20,Cases,4
3,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,1990-05-27,Cases,3
4,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,1990-06-03,Cases,6
...,...,...,...,...,...,...,...,...,...,...
1451,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2010-05-30,Cases,5
1452,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2010-06-06,Cases,8
1453,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2010-06-13,Cases,1
1454,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2010-06-20,Cases,1
1455,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2010-06-27,Cases,4

In [4]:
dengue_data_sanjuan = dengue_data[dengue_data['Domain'] == 'San Juan']
dengue_data_sanjuan

,Microbe Family,Microbe Genus,Microbe Species,Region,Country,Domain,Sub-Domain,date,type,number
0,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,1990-05-06,Cases,4
1,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,1990-05-13,Cases,5
2,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,1990-05-20,Cases,4
3,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,1990-05-27,Cases,3
4,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,1990-06-03,Cases,6
...,...,...,...,...,...,...,...,...,...,...
931,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,2008-04-06,Cases,4
932,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,2008-04-13,Cases,3
933,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,2008-04-20,Cases,1
934,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,2008-04-27,Cases,3
935,Flaviviridae,Flavivirus,DENV,AMRO,Puerto Rico,San Juan,NaN,2008-05-04,Cases,5

In [5]:
dengue_data_iquitos = dengue_data[dengue_data['Domain'] == 'Iquitos']
dengue_data_iquitos

,Microbe Family,Microbe Genus,Microbe Species,Region,Country,Domain,Sub-Domain,date,type,number
936,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2000-07-02,Cases,0
937,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2000-07-09,Cases,0
938,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2000-07-16,Cases,0
939,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2000-07-23,Cases,0
940,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2000-07-30,Cases,0
...,...,...,...,...,...,...,...,...,...,...
1451,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2010-05-30,Cases,5
1452,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2010-06-06,Cases,8
1453,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2010-06-13,Cases,1
1454,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2010-06-20,Cases,1
1455,Flaviviridae,Flavivirus,DENV,AMRO,Peru,Iquitos,NaN,2010-06-27,Cases,4

In [6]:
dengue_data.to_csv("F:/Pandemic-Database/Processed_Data/Dengue_Fever/Dengue_AMRO_Country_Weekly_Cases.csv",
                   index = False)

In [10]:
dengue_data_sanjuan.to_csv("F:/Pandemic-Database/Past_Pandemic_Time_Series_Data/Dengue Fever/Dengue_Sanjuan_Weekly_Cases.csv",
                          index = False)
dengue_data_iquitos.to_csv("F:/Pandemic-Database/Past_Pandemic_Time_Series_Data/Dengue Fever/Dengue_Iquitos_Weekly_Cases.csv",
                          index = False)