In [1]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [7]:
SARS_data = pd.read_csv("F:\Pandemic-Database\Raw_Data\SARS/sars_2003_complete_dataset_clean.csv")
SARS_data = SARS_data.rename(columns={'Date':'date',
                                     'Cumulative number of case(s)':'Cumulative_Cases',
                                     'Number of deaths':'Deaths',
                                     'Number recovered':'Recovered'})
SARS_data = pd.melt(SARS_data, 
                    id_vars=['Country','date'],
                    value_vars=['Cumulative_Cases','Deaths','Recovered'],
                    var_name='type',
                    value_name='number')

SARS_data.insert(0,'Microbe Family','Coronaviridae')
SARS_data.insert(1,'Microbe Genus','Betacoronavirus')
SARS_data.insert(2,'Microbe Species','SARS-CoV-1')
SARS_data.insert(3,'Region','None')
SARS_data.insert(5,'Domain','None')
SARS_data.insert(6,'Sub-Domain','None')

SARS_data

,Microbe Family,Microbe Genus,Microbe Species,Region,Country,Domain,Sub-Domain,date,type,number
0,Coronaviridae,Betacoronavirus,SARS-CoV-1,None,Germany,None,None,2003-03-17,Cumulative_Cases,1
1,Coronaviridae,Betacoronavirus,SARS-CoV-1,None,Canada,None,None,2003-03-17,Cumulative_Cases,8
2,Coronaviridae,Betacoronavirus,SARS-CoV-1,None,Singapore,None,None,2003-03-17,Cumulative_Cases,20
3,Coronaviridae,Betacoronavirus,SARS-CoV-1,None,"Hong Kong SAR, China",None,None,2003-03-17,Cumulative_Cases,95
4,Coronaviridae,Betacoronavirus,SARS-CoV-1,None,Switzerland,None,None,2003-03-17,Cumulative_Cases,2
...,...,...,...,...,...,...,...,...,...,...
7609,Coronaviridae,Betacoronavirus,SARS-CoV-1,None,Switzerland,None,None,2003-07-11,Recovered,1
7610,Coronaviridae,Betacoronavirus,SARS-CoV-1,None,Thailand,None,None,2003-07-11,Recovered,7
7611,Coronaviridae,Betacoronavirus,SARS-CoV-1,None,United Kingdom,None,None,2003-07-11,Recovered,4
7612,Coronaviridae,Betacoronavirus,SARS-CoV-1,None,United States,None,None,2003-07-11,Recovered,67
7613,Coronaviridae,Betacoronavirus,SARS-CoV-1,None,Viet Nam,None,None,2003-07-11,Recovered,58

In [8]:
country_region_dict = np.load('F:/Pandemic-Database/Internal/Intermediate_Data_Archive/Country_Region_Dict.npy', allow_pickle=True).item()
country_region_dict['Hong Kong SAR, China'] = "SEARO"
country_region_dict['Macao SAR, China'] = "SEARO"
country_region_dict['Republic of Korea'] = "SEARO"
country_region_dict['Taiwan, China'] = "SEARO"
country_region_dict['Viet Nam'] = "SEARO"
country_region_dict['Russian Federation'] = "EURO"
country_region_dict['Republic of Ireland'] = "EURO"

In [9]:
SARS_data['Region'] = SARS_data['Country'].map(country_region_dict)
SARS_data

,Microbe Family,Microbe Genus,Microbe Species,Region,Country,Domain,Sub-Domain,date,type,number
0,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,Germany,None,None,2003-03-17,Cumulative_Cases,1
1,Coronaviridae,Betacoronavirus,SARS-CoV-1,AMRO,Canada,None,None,2003-03-17,Cumulative_Cases,8
2,Coronaviridae,Betacoronavirus,SARS-CoV-1,WPRO,Singapore,None,None,2003-03-17,Cumulative_Cases,20
3,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,"Hong Kong SAR, China",None,None,2003-03-17,Cumulative_Cases,95
4,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,Switzerland,None,None,2003-03-17,Cumulative_Cases,2
...,...,...,...,...,...,...,...,...,...,...
7609,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,Switzerland,None,None,2003-07-11,Recovered,1
7610,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,Thailand,None,None,2003-07-11,Recovered,7
7611,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,United Kingdom,None,None,2003-07-11,Recovered,4
7612,Coronaviridae,Betacoronavirus,SARS-CoV-1,AMRO,United States,None,None,2003-07-11,Recovered,67
7613,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,Viet Nam,None,None,2003-07-11,Recovered,58

In [10]:
SARS_data_CumCases = SARS_data[SARS_data['type'] == 'Cumulative_Cases']
SARS_data_CumCases

,Microbe Family,Microbe Genus,Microbe Species,Region,Country,Domain,Sub-Domain,date,type,number
0,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,Germany,None,None,2003-03-17,Cumulative_Cases,1
1,Coronaviridae,Betacoronavirus,SARS-CoV-1,AMRO,Canada,None,None,2003-03-17,Cumulative_Cases,8
2,Coronaviridae,Betacoronavirus,SARS-CoV-1,WPRO,Singapore,None,None,2003-03-17,Cumulative_Cases,20
3,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,"Hong Kong SAR, China",None,None,2003-03-17,Cumulative_Cases,95
4,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,Switzerland,None,None,2003-03-17,Cumulative_Cases,2
...,...,...,...,...,...,...,...,...,...,...
2533,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,Switzerland,None,None,2003-07-11,Cumulative_Cases,1
2534,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,Thailand,None,None,2003-07-11,Cumulative_Cases,9
2535,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,United Kingdom,None,None,2003-07-11,Cumulative_Cases,4
2536,Coronaviridae,Betacoronavirus,SARS-CoV-1,AMRO,United States,None,None,2003-07-11,Cumulative_Cases,75
2537,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,Viet Nam,None,None,2003-07-11,Cumulative_Cases,63

In [11]:
SARS_data_Recovered = SARS_data[SARS_data['type'] == 'Recovered']
SARS_data_Recovered

,Microbe Family,Microbe Genus,Microbe Species,Region,Country,Domain,Sub-Domain,date,type,number
5076,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,Germany,None,None,2003-03-17,Recovered,0
5077,Coronaviridae,Betacoronavirus,SARS-CoV-1,AMRO,Canada,None,None,2003-03-17,Recovered,0
5078,Coronaviridae,Betacoronavirus,SARS-CoV-1,WPRO,Singapore,None,None,2003-03-17,Recovered,0
5079,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,"Hong Kong SAR, China",None,None,2003-03-17,Recovered,0
5080,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,Switzerland,None,None,2003-03-17,Recovered,0
...,...,...,...,...,...,...,...,...,...,...
7609,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,Switzerland,None,None,2003-07-11,Recovered,1
7610,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,Thailand,None,None,2003-07-11,Recovered,7
7611,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,United Kingdom,None,None,2003-07-11,Recovered,4
7612,Coronaviridae,Betacoronavirus,SARS-CoV-1,AMRO,United States,None,None,2003-07-11,Recovered,67
7613,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,Viet Nam,None,None,2003-07-11,Recovered,58

In [12]:
pre_SARS_data_Cases = SARS_data_CumCases[['Country','date','number']]
pre_SARS_data_Cases.index = pre_SARS_data_Cases['date']
pre_SARS_data_Cases = pre_SARS_data_Cases.drop(columns=['date'])
pre_SARS_data_Cases = pre_SARS_data_Cases.groupby(['Country'],).diff()
pre_SARS_data_Cases = pre_SARS_data_Cases.reset_index(drop = True)

SARS_data_Cases = SARS_data_CumCases.copy()
SARS_data_Cases['number'] = pre_SARS_data_Cases
SARS_data_Cases['type'] = 'Cases'
SARS_data_Cases = SARS_data_Cases.dropna(subset=['number'])
SARS_data_Cases

,Microbe Family,Microbe Genus,Microbe Species,Region,Country,Domain,Sub-Domain,date,type,number
7,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,Germany,None,None,2003-03-18,Cases,1.0
8,Coronaviridae,Betacoronavirus,SARS-CoV-1,AMRO,Canada,None,None,2003-03-18,Cases,0.0
10,Coronaviridae,Betacoronavirus,SARS-CoV-1,WPRO,Singapore,None,None,2003-03-18,Cases,3.0
11,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,"Hong Kong SAR, China",None,None,2003-03-18,Cases,28.0
13,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,Thailand,None,None,2003-03-18,Cases,0.0
...,...,...,...,...,...,...,...,...,...,...
2533,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,Switzerland,None,None,2003-07-11,Cases,0.0
2534,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,Thailand,None,None,2003-07-11,Cases,0.0
2535,Coronaviridae,Betacoronavirus,SARS-CoV-1,EURO,United Kingdom,None,None,2003-07-11,Cases,0.0
2536,Coronaviridae,Betacoronavirus,SARS-CoV-1,AMRO,United States,None,None,2003-07-11,Cases,0.0
2537,Coronaviridae,Betacoronavirus,SARS-CoV-1,SEARO,Viet Nam,None,None,2003-07-11,Cases,0.0

In [13]:
SARS_data_CumCases.groupby('Country').count()

,Microbe Family,Microbe Genus,Microbe Species,Region,Domain,Sub-Domain,date,type,number
Country,,,,,,,,,
Australia,17,17,17,17,17,17,17,17,17
Belgium,5,5,5,5,5,5,5,5,5
Brazil,81,81,81,81,81,81,81,81,81
Bulgaria,20,20,20,20,20,20,20,20,20
Canada,96,96,96,96,96,96,96,96,96
China,96,96,96,96,96,96,96,96,96
Colombia,53,53,53,53,53,53,53,53,53
Finland,51,51,51,51,51,51,51,51,51
France,90,90,90,90,90,90,90,90,90
Germany,96,96,96,96,96,96,96,96,96
"Hong Kong SAR, China",96,96,96,96,96,96,96,96,96
India,64,64,64,64,64,64,64,64,64
Indonesia,72,72,72,72,72,72,72,72,72
Italy,92,92,92,92,92,92,92,92,92
Japan,19,19,19,19,19,19,19,19,19
Kuwait,75,75,75,75,75,75,75,75,75
"Macao SAR, China",58,58,58,58,58,58,58,58,58
Malaysia,79,79,79,79,79,79,79,79,79
Mongolia,69,69,69,69,69,69,69,69,69
New Zealand,56,56,56,56,56,56,56,56,56
Philippines,72,72,72,72,72,72,72,72,72
Poland,10,10,10,10,10,10,10,10,10
Republic of Ireland,92,92,92,92,92,92,92,92,92
Republic of Korea,59,59,59,59,59,59,59,59,59
Romania,87,87,87,87,87,87,87,87,87
Russian Federation,31,31,31,31,31,31,31,31,31
Singapore,96,96,96,96,96,96,96,96,96
Slovenia,5,5,5,5,5,5,5,5,5
South Africa,74,74,74,74,74,74,74,74,74
Spain,86,86,86,86,86,86,86,86,86
Sweden,72,72,72,72,72,72,72,72,72
Switzerland,94,94,94,94,94,94,94,94,94
"Taiwan, China",95,95,95,95,95,95,95,95,95
Thailand,96,96,96,96,96,96,96,96,96
United Kingdom,95,95,95,95,95,95,95,95,95
United States,94,94,94,94,94,94,94,94,94
Viet Nam,95,95,95,95,95,95,95,95,95

In [14]:
SARS_data_Cases.to_csv("F:/Pandemic-Database/Past_Pandemic_Time_Series_Data/SARS/SARS_World_Country_Daily_Cases.csv",
                      index = False)

SARS_data_CumCases.to_csv("F:/Pandemic-Database/Past_Pandemic_Time_Series_Data/SARS/SARS_World_Country_Daily_CumCases.csv",
                          index = False)

SARS_data_Recovered.to_csv("F:/Pandemic-Database/Past_Pandemic_Time_Series_Data/SARS/SARS_World_Country_Daily_Recovered.csv",
                           index = False)